.model {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.model-content {
    width: 90%; 
    max-width: 30rem;
    height: auto;
    max-height: 90%; 
    background-color: #13131b;
    padding: 2rem;
    border-radius: 0.85rem;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.7);
    position: relative;
}

.btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    color: white;
    cursor: pointer;
}

.image {
    width: 100%;
    height: auto;
    max-height: 18rem;
    object-fit: cover;
    border-radius: 1rem;
    opacity: 0.5;
}

.title {
    font-size: 1rem;
    color: white;
    margin-top: 1rem;
}

.source,
.date {
    font-size: 1rem;
    color: #bbb;
    margin-top: 0.85rem;
}

.text {
    font-size: 1rem;
    margin-top: 1rem;
    line-height: 1rem;
    color: white;
}

.read-more {
    width: 9rem;
    display: inline-block;
    background: linear-gradient(to right, #b88efc, #6877f4);
    margin-top: 2rem;
    padding: .8rem .8rem;
    color: white;
    border-radius: .8rem;
   text-transform: uppercase;
}

.read-more:active{
transform: translateY(.1rem);
}