.news {
    font-size: 1.2rem;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-between;
    row-gap: 1rem;
}

.header {
    width: 100%;
    min-height: 4rem;
    background-color: rgb(13, 13, 13);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    position: relative;
}

.logo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    color: #ddd;
    letter-spacing: 0.1rem;
}

.search input {
    width: 20rem;
    height: 3rem;
    background-color: #060709;
    border: none;
    border-radius: 4rem;
    padding: 0 4rem 0 2rem;
    color: white;
}

.search input:focus {
    width: 25rem;
}

.search input:focus::placeholder {
    color: transparent;
}

.search button {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translateY(-50%);
    color: #928a8a;
    font-size: 1.2rem;
    cursor: pointer;
}

.content {
    display: flex;
    column-gap: 2rem;
    height: calc(100% - 0.85rem);
    padding: 0 1rem;
}

.navbar {
    width: 10rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.user {
    width: 95%;
    height: 20%;
    background-color: rgb(13, 13, 13);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.8rem;
}

.user img {
    width: 3.5rem;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 50%;
}

.user p {
    font-size: 1rem;
    color: #ddd;
    font-weight: 600;
}

.categories {
    width: 95%;
    height: calc(85% - 2rem);
    background-color: rgb(13, 13, 13);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 1rem;
}

.nav-heading {
    font-size: 1.5rem;
    color: #ddd;
    margin-bottom: 1rem;
}

.links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.link {
    font-weight: 600;
    font-size: 0.85rem;
    color: #ddd;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.link i {
    font-size: 0.85rem;
    margin-left: 1rem;
}

.link:hover {
    color: rgb(73, 74, 75);
}

.news-section {
    width: clamp(40rem, 40cqi, 40%);
    border-radius: 1rem;
    height: 100%;
}

.headline {
    width: 100%;
    height: calc(50% - 2rem);
    background-color: rgb(13, 13, 13);
    border-radius: 1rem;
    margin-bottom: 2rem;
    position: relative;
}

.headline-title {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: rgba(0, 0, 0, .7);
}

.headline i {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
}

.news-grid {
    width: 100%;
    height: 50%;
    background-color: rgb(13, 13, 13);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
    padding: .85rem;
    justify-content: center;
    align-items: center;
}

.headline img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    opacity: 0.5;
}

.news-grid-item {
    width: 100%;
    height: 100%;
    min-height: 1rem;
    border-radius: 1rem;
    position: relative;
}

.news-grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.85rem;
    display: block;
    opacity: 0.6;
}

.news-grid-item h3 {
    position: absolute;
    bottom: 0;
    right: 0rem;
    padding: .5rem 0.2rem .8rem .8rem;
    line-height: .85rem;
    font-size: small;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
}

.news-grid-item i {
    position: absolute;
    bottom: .2rem;
    right: .8rem;
    cursor: pointer;
}

.my-blogs {
    width: clamp(20rem, 30cqi, 30%);
    height: 100%;
    background: #111214;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-bottom: 1rem;
}

.my-blog-heading {
    font-size: 1.5rem;
    color: #ddd;
    padding: 1rem;
    letter-spacing: .1rem;
}

.blog-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .80rem;
    padding: .85rem;
}

.blog-post {
    flex: 0 1 calc(50% - 0.6rem);
    border-radius: .85rem;
    position: relative;
}

.blog-post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.blog-post h3 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .50rem;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: .70rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    overflow-wrap: break-word;
}

.post-button {
    position: absolute;
    top: .50rem;
    right: .50rem;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    opacity: 0;
}

.blog-post:hover .post-button {
    opacity: 1;
    visibility: visible;
}

.post-button button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

.weather-calendar {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.news-footer {
    width: 100%;
    min-height: 3rem;
    background-color: rgb(13, 13, 13);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.news-footer p {
    font-size: 1rem;
    font-weight: 300;
    color: #bbb;
}

.news-footer p span {
    font-size: 1rem;
}

.news-footer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
@media (max-width: 1400px) {
    .links {
        row-gap: .50rem;
    }

    .news-section {
        overflow: hidden;
    }

    .news-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        overflow-y: scroll;
    }

    .news-grid::-webkit-scrollbar {
        display: none;
    }

    .blog-posts {
        overflow-y: scroll;
    }

    .blog-posts::-webkit-scrollbar {
        display: none;
    }

    .blog-post {
        flex: 0 1 calc(100% - 0.3rem);
    }

    @media (max-width: 1024px) {
        .news-grid {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }
    }

    @media(max-width: 900px) {
        .logo{
            font-size: 1.5rem;
            margin-right: 1rem;
        }
        .news {
            height: 100%;
            overflow-y: scroll;
        }

        .news::-webkit-scrollbar {
            display: none;
        }

        .content {
            flex-direction: column;
            width: 100%;
            height: 100rem;
            row-gap: 1rem;
        }

        .navbar {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 9rem;
        }

        .user {
            width: calc(30% - 1rem);
            height: 100%;
        }

        .categories {
            width: 70%;
            height: 100%;
            justify-content: center;
            align-items: center;
            row-gap: .50rem;
        }

        .links {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .link {
            margin-right: 1rem;
        }

        .news-section{
            width: 100%;
        }

        .news-grid {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        .my-blogs {
            width: 100%;
        }

        .blog-post {
            flex: 0 1 calc(50% - 0.4rem)
        }

        .weather-calendar{
            flex-direction: row;
            column-gap: 1rem;
        }
    }
}